@model GirlyMerely.Web.Areas.Customer.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading">صفحه ورود / ثبت نام</h1>
                    <ul class="breadcrumb-links">
                        <li><a href="/">خانه</a></li>
                        <li>ورود / ثبت نام</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- login area start -->
<div class="login-register-area mb-60px mt-53px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">

                        <a data-toggle="tab" class="active" href="#lg2">
                            <h4>ثبت نام</h4>
                        </a>
                    </div>
                    <div class="tab-content">


                        @if (ViewBag.State == true)
                        {
                            <h2 style="margin-bottom:20px;text-align:center;">لینک بازیابی رمز عبور برای شما ارسال شد</h2>
                        }


                        @using (Html.BeginForm("ForgetPassword", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-register-form ", role = "login-form", id = "login-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div style=" display: flex; justify-content: center; align-items: baseline;">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div>
                                    @Html.LabelFor(m => m.phonenumber)
                                    @Html.TextBoxFor(m => m.phonenumber,new {@class= "kamyabStyles" })
                                    @Html.ValidationMessageFor(m => m.phonenumber, "")
                                </div>
                                <div class="button-box">
                                    <button style=" padding: 4px 15px; border-radius: 3px; border:none; margin: 0 7px 0 0;" type="submit"><span>ارسال کد بازیابی</span></button>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .field-validation-error span {
        color: darkred;
    }
</style>


<script>
    $.validator.unobtrusive.parse("#login-form");
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}