@model GirlyMerely.Web.Areas.Customer.Models.NewPasswordViewModel


@{
    ViewBag.Title = "ورود به پنل کاربری";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Area start -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-content">
                    <h1 class="breadcrumb-hrading">صفحه ورود / ثبت نام</h1>
                    <ul class="breadcrumb-links">
                        <li><a href="/">خانه</a></li>
                        <li>ورود / ثبت نام</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End -->
<!-- login area start -->
<div class="login-register-area mb-60px mt-53px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab" href="#lg1">
                            <h4></h4>
                        </a>
                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <span class="text-danger">@ViewBag.LoginError</span>
                                    @using (Html.BeginForm("ResetPassword", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-register-form", role = "login-form", id = "login-form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(x=>x.token)
                                            @Html.HiddenFor(x=>x.phoneNumber)
                                            <div>
                                                @Html.LabelFor(m => m.Password)
                                                @Html.TextBoxFor(m => m.Password)
                                                @Html.ValidationMessageFor(m => m.Password, "Password")
                                            </div>
                                            <div>
                                                @Html.LabelFor(m => m.ConfirmPassword)
                                                @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "Password" })
                                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "")
                                            </div>
                                            <div class="button-box">
                                                <div class="login-toggle-btn">
                                                    <input type="checkbox" name="RememberMe" id="RememberMe">
                                                    <a class="flote-none" href="javascript:void(0)">مرا بخاطر بسپار</a>
                                                    @*<a href="#"> رمز ورود را فراموش کرده اید؟</a>*@
                                                    @Html.ActionLink("رمز ورود را فراموش کرده اید؟", "ForgetPassword", "Auth")
                                                </div>
                                                <button type="submit"><span>ورود</span></button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .field-validation-error span {
        color: darkred;
    }
</style>
