@model GirlyMerely.Web.ViewModels.SocialViewModel
<ul>
    <li>
        <a href="@Model.facebook"><i class="ion-social-facebook"></i></a>
    </li>
    <li>
        <a href="https://api.whatsapp.com/send?phone=@ViewBag.phone&text=I%20visited%20your%20website%20and%20I%20would%20like%20more%20inquiry%20about%20real%20estates"><i class="ion-social-whatsapp"></i></a>
       
    </li>
    <li>
        <a href="@Model.twiter"><i class="ion-social-twitter"></i></a>
    </li>
    <li>
        <a href="@Model.youtube"><i class="ion-social-youtube"></i></a>
    </li>
    <li>
        <a href="@Model.google"><i class="ion-social-google"></i></a>
    </li>
    <li>
        <a href="@Model.instagram"><i class="ion-social-instagram"></i></a>
    </li>
</ul>